.background {
  background-color: lavender;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  min-height: 100vh;
}



.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;
}

.pages {
  display: flex;
  justify-content: center;
}

.pages button {
  float: right;
  padding: 12px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.filter {
  display: flex;
  justify-content: center;
}

.filter label {
  float: right;
  padding: 12px;
  margin-top: 3px;
  background: #ddd;
  font-size: 15px;
  border: none;
  cursor: pointer;
}

.filter select {
  float: right;
  padding: 12px;
  margin-top: 3px;
  margin-right: 10px;
  background: #ddd;
  font-size: 15px;
  border: none;
  cursor: pointer;
}
/* Add media queries for responsiveness */
@media only screen and (max-width: 600px) {
  /* Adjust container layout for smaller screens */
  .pages button {
    size: 20px;
  }
  .filter {
    display: flex;
    flex-wrap: wrap;
  }
  .responsiveContainer {
    flex-direction: column;
  }
}
